.character-list {
  background-color: red;

  &__title {
    text-align: center;
  }

  &__body {
    background-color: salmon;
  }

  &__actions {
    text-align: center;
    background-color: black;
  }
}
